@model EnvironmentServer.Web.ViewModels.Login.RegistrationViewModel

@{
    ViewData["Title"] = "Create User";
}

<div class="d-flex align-items-center justify-content-center fullHeight">
    <form method="post" asp-action="Create" style="width: 400px;">
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username"></span>
            <span>No special characters and spaces allowed</span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">E-Mail</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ExpirationDate" class="form-label">Expiration Date (Leave empty for normal account)</label>
            <input type="datetime-local" asp-for="ExpirationDate" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control" />
            <span asp-validation-for="ExpirationDate"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">User-Role</label>
            <select asp-for="RoleID" asp-items=@Model.Roles class="form-select"></select>
        </div>
        <button type="submit" class="btn btn-primary">Create Useraccount</button>
    </form>
</div>