@model IEnumerable<EnvironmentServer.DAL.Models.DockerComposeFile>

@{
    ViewData["Title"] = "Docker - List of composer files";
}

<div class="accordion" id="files">
    @foreach (var f in @Model)
    {
        <div class="accordion-item">
            <div class="row">
                <div class="col-10">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" data-bs-toggle="collapse">
                            @f.Name
                        </button>
                    </h2>
                </div>
                <div class="col-2">
                    <a asp-controller="Docker" asp-action="EditFile" asp-route-id=@f.ID class="btn btn-primary" type="submit">Edit</a>
                    <a class="btn btn-danger" style="cursor: pointer;" onclick=@Html.Raw($"\"return AreYouSurePromt('../Docker/DeleteFile/{@f.ID}');\"")>Delete</a>
                </div>
            </div>
        </div>
    }
</div>