@using EnvironmentServer.Web.Extensions
@model EnvironmentServer.Web.ViewModels.Profile.ProfileViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject EnvironmentServer.DAL.Database DB

@{
    ViewData["Title"] = "Profile";

    var usr = HttpContextAccessor.HttpContext.Session.GetObject<EnvironmentServer.DAL.Models.User>("user");
}

<div class="d-flex align-items-center justify-content-center fullHeight" style="flex-direction: column;">
    <h3>Name: @Model.UserInformation.Name <br />Department: @Model.UserDepartment.Name</h3>
    <div class="alert alert-info">SSH key is needed only for SSH connection.</div>
    @if (DB.Permission.HasPermission(usr, "ssh_key_set"))
    {
        <form method="post" asp-action="ChangeSSH" style="width: 400px;">
            <div class="mb-3">
                <label asp-for="SSHPublicKey" class="form-label">SSH Public Key</label>
                <input asp-for="SSHPublicKey" class="form-control" />
                <span asp-validation-for="SSHPublicKey"></span>
                <span>Use OpenSSH format (ssh-rsa AAAAB3NzaC1...)</span>
            </div>
            <button type="submit" class="btn btn-primary">Set/Change SSH Public Key</button>
        </form>
        <br />
    }

    @if (DB.Permission.HasPermission(usr, "cronjobs"))
    {
        <form method="post" asp-action="ReloadCronjobs" style="width: 400px;">
            <button type="submit" class="btn btn-primary">Reload Cronjobs</button>
        </form>
        <br />
    }

    <form method="post" asp-action="UpdateInformations" style="width: 400px;">
        <input type="hidden" asp-for="UserInformation.ID" />
        <input type="hidden" asp-for="UserInformation.AdminNote" />
        <input type="hidden" asp-for="UserInformation.DepartmentID" />
        <div class="mb-3">
            <label asp-for="UserInformation.Name" class="form-label">Full Name</label>
            <input asp-for="UserInformation.Name" class="form-control" />
            <span asp-validation-for="UserInformation.Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserInformation.SlackID" class="form-label">SlackID</label>
            <input asp-for="UserInformation.SlackID" class="form-control" />
            <span asp-validation-for="UserInformation.SlackID"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserInformation.AbsenceDate" class="form-label">Absence until (Only if longer than 60 days)</label>
            <input type="datetime-local" asp-for="UserInformation.AbsenceDate" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control" />
            <span asp-validation-for="UserInformation.AbsenceDate"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UserInformation.AbsenceReason" class="form-label">Absence reason (short)</label>
            <input asp-for="UserInformation.AbsenceReason" class="form-control" />
            <span asp-validation-for="UserInformation.AbsenceReason"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update Profile Informations</button>
    </form>
    <br />
    <form method="post" asp-action="ChangePassword" style="width: 400px;">
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PasswordNew" class="form-label">New password</label>
            <input asp-for="PasswordNew" class="form-control" />
            <span asp-validation-for="PasswordNew"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PasswordNewRetype" class="form-label">Retype new password</label>
            <input asp-for="PasswordNewRetype" class="form-control" />
            <span asp-validation-for="PasswordNewRetype"></span>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>