@model EnvironmentServer.Web.ViewModels.Profile.PasswordRecoveryViewModel

<div class="d-flex align-items-center justify-content-center fullHeight" style="flex-direction: column;">
    <h4>Recover Password</h4><br />
    <form method="post" asp-action="SetPassword" style="width: 400px;">
        <div class="mb-3">
            <label asp-for="Token" class="form-label">Reset Token</label>
            <input asp-for="Token" class="form-control" />
            <span asp-validation-for="Token"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Mail" class="form-label">Your Mailaddress</label>
            <input asp-for="Mail" class="form-control" />
            <span asp-validation-for="Mail"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PasswordNew" class="form-label">New password</label>
            <input asp-for="PasswordNew" class="form-control" />
            <span asp-validation-for="PasswordNew"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PasswordNewRetype" class="form-label">Retype new password</label>
            <input asp-for="PasswordNewRetype" class="form-control" />
            <span asp-validation-for="PasswordNewRetype"></span>
        </div>
        <button type="submit" class="btn btn-primary">Set new password</button>
    </form>
</div>