@model EnvironmentServer.DAL.Models.News

@{
    ViewData["Title"] = "News";
}

<div class="card">
  <h5 class="card-header">@Model.Created.ToString("dd.MM.yyyy H:mm:ss")</h5>
  <div class="card-body">
    <p class="card-text"><markdown>@Model.Content</markdown></p>    
  </div>
</div>