@model IEnumerable<EnvironmentServer.DAL.Models.News>

@{
    ViewData["Title"] = "News";
}
@foreach (var news in Model)
{
    <div class="card">
        <h5 class="card-header">@news.Created.ToString("dd.MM.yyyy H:mm:ss")</h5>
        <div class="card-body">
            <p class="card-text"><markdown>@news.Content</markdown></p>
        </div>
    </div>
}
