@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using EnvironmentServer.Web.Extensions
@model EnvironmentServer.Web.ViewModels.Home.DashboardModel

@{
    ViewData["Title"] = "Home Page";
}

@{
    var usr = HttpContextAccessor.HttpContext.Session.GetObject<EnvironmentServer.DAL.Models.User>("user");
}

<div class="row row-cols-md-4" style="margin-top: 15px;">
    <div class="col-md-3 px-1">
        <div class="card mb-2 align-middle d-flex align-content-center" style="height: 420px; padding: 15px;">
            <h2 style="text-align: left;">Informations</h2>
            <p style="text-align: left;"><strong>SSH/SFTP</strong><br />IP: shopdev.de<br />Port: 22<br />User: @usr.Username<br />You need to setup a Public-Key in your Profile</p>
            <p style="text-align: left;"><strong>PhpMyAdmin</strong><br /><a href="http://shopdev.de/pma">http://shopdev.de/pma</a></p>
            <p style="text-align: left;">.htaccess Login: @Model.Htaccess</p>
            <p style="text-align: left;">You can use your Environment Account login credentials to view all your databases at once</p>
        </div>
    </div>

    @foreach (var e in Model.Environments)
    {
        <partial name="/Views/Components/EnvironmentCard.cshtml" model=e />
    }

    <div class="col-md-3 px-1">
        <div class="card mb-2 align-middle d-flex align-content-center" style="height: 420px;">
            <a asp-controller="EnvSetup" asp-action="BaseData" class="text-decoration-none text-body fullHeight justify-content-center d-flex">
                <i class="bi bi-plus-lg align-self-center" style="font-size: 50px"></i>
            </a>
        </div>
    </div>
</div>