@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using EnvironmentServer.Web.Extensions
@model EnvironmentServer.Web.ViewModels.Home.DashboardModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-md-4" style="margin-top: 15px;">

    @{
        var usr = HttpContextAccessor.HttpContext.Session.GetObject<EnvironmentServer.DAL.Models.User>("user");
    }
    @foreach (var e in Model.Environments)
    {
        <partial name="/Views/Components/EnvironmentCard.cshtml" model=e />
    }

    <div class="col-md-3 px-1">
        <div class="card mb-2 align-middle d-flex align-content-center" style="height: 370px;">
            <a asp-controller="Env" asp-action="Create" class="text-decoration-none text-body fullHeight justify-content-center d-flex">
                <i class="bi bi-plus-lg align-self-center" style="font-size: 50px"></i>
            </a>
        </div>
    </div>

</div>