@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-md-4" style="margin-top: 15px;">

    <!--For Shopware 5-->
    <div class="col-md-3 px-1">
        <div class="card mb-2" style="min-height: 310px;">
            <a asp-controller="Item" class="text-decoration-none text-body">
                <p class="text-center">
                    <img src="~/img/sw5-signet.svg" width="100" height="100" style="padding-top: 15px;" />
                </p>
                <div class="card-body">
                    <h5 class="card-title">shopware572</h5>
                    <p class="card-text">Version 5.7.2</p>
                    <p class="card-text">PHP Version 7.4</p>
                    <div class="d-flex" style="padding-top: 10px;">
                        <a class="btn btn-primary me-auto">Frontend</a>
                        <a class="btn btn-primary">Backend</a>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!--For Shopware 6-->
    <div class="col-md-3 px-1">
        <div class="card mb-2" style="min-height: 310px;">
            <a asp-controller="Item" class="text-decoration-none text-body">
                <p class="text-center">
                    <img src="~/img/sw6-signet.svg" width="100" height="100" style="padding-top: 15px;" />
                </p>
                <div class="card-body">
                    <h5 class="card-title">shopware6441</h5>
                    <p class="card-text">Version 6.4.4.1</p>
                    <p class="card-text">PHP Version 7.4</p>
                    <div class="d-flex" style="padding-top: 10px;">
                        <a class="btn btn-primary me-auto">Frontend</a>
                        <a class="btn btn-primary">Admin</a>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-3 px-1">
        <div class="card mb-2 align-middle d-flex align-content-center" style="height: 310px;">
            <a asp-controller="Item" class="text-decoration-none text-body fullHeight justify-content-center d-flex">
                <i class="bi bi-plus-lg align-self-center" style="font-size: 50px"></i>
            </a>
        </div>
    </div>

</div>