@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using EnvironmentServer.Web.Extensions
@model EnvironmentServer.Web.ViewModels.Home.DashboardModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-md-4" style="margin-top: 15px;">
    <div class="col-md-3 px-1">
        <div class="card mb-2 align-middle d-flex align-content-center" style="height: 370px;">
            <br />
            <h2 style="text-align: left;">Informations</h2>
            <p style="text-align: left;"><strong>SSH/SFTP</strong><br />IP: shopdev.de<br />Port: 22<br />User: &lt;YourUsername&gt;<br />Passwort: &lt;YourPassword&gt;</p>
            <p style="text-align: left;"><strong>PhpMyAdmin</strong><br /><a href="http://shopdev.de/pma">http://shopdev.de/pma</a></p>
        </div>
    </div>

    @{
        var usr = HttpContextAccessor.HttpContext.Session.GetObject<EnvironmentServer.DAL.Models.User>("user");
    }
    @foreach (var e in Model.Environments)
    {
        <partial name="/Views/Components/EnvironmentCard.cshtml" model=e />
    }

    <div class="col-md-3 px-1">
        <div class="card mb-2 align-middle d-flex align-content-center" style="height: 370px;">
            <a asp-controller="EnvSetup" asp-action="BaseData" class="text-decoration-none text-body fullHeight justify-content-center d-flex">
                <i class="bi bi-plus-lg align-self-center" style="font-size: 50px"></i>
            </a>
        </div>
    </div>

</div>