@model EnvironmentServer.Web.ViewModels.Login.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="d-flex align-items-center justify-content-center" style="flex-direction: column;">
    <h2>Login</h2>
    <form method="post" asp-action="Login" style="width: 400px;">
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Username or Shopware Mailadress</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
            <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="PasswordRecovery">Recover password</a>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <p style="margin-top: 10px;">To get an environment system account contact your Team-Lead or Support-Expert</p>
    </form>

    <h2>News</h2>
    @foreach (var news in Model.LatestNews)
    {
        <div class="card" style="margin-top:15px;">
            <h5 class="card-header">@news.Created.ToString("dd.MM.yyyy H:mm:ss")</h5>
            <div class="card-body">
                <p class="card-text"><markdown>@news.Content</markdown></p>
            </div>
        </div>
    }
</div>