@model EnvironmentServer.Web.ViewModels.Login.RegistrationViewModel

@{
    ViewData["Title"] = "Sign up";
}

<div class="d-flex align-items-center justify-content-center fullHeight">
    <form method="post" asp-action="Registration" style="width: 400px;">
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">E-Mail</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>