@using EnvironmentServer.Web.ViewModels.EnvSetup
@model EnvSetupViewModel

@{
    ViewData["Title"] = "Base Data - Environment Setup";
}

<div class="d-flex align-items-center justify-content-center fullHeight">
    <form method="post" asp-action="MajorVersion" style="width: 400px;">
        <div class="mb-3">
            <label asp-for="DisplayName" class="form-label">Environment Name</label>
            <input asp-for="DisplayName" value=@Model.DisplayName class="form-control" />
            <span asp-validation-for="DisplayName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="InternalName" class="form-label">Environment Domain</label>
            <input asp-for="InternalName" value=@Model.InternalName class="form-control" />
            <span asp-validation-for="InternalName"></span>
            <span style="margin-top: 10px;">No spaces, a-z, 0-9</span>
            <span style="margin-top: 10px;">Example: my1test</span>
        </div>
        <div class="alert alert-danger">For internal use only! - Do not share your environment with customers or partners!</div>
        <button type="submit" class="btn btn-primary float-end">Shopware Version ⮊</button>        
    </form>
</div>