@using EnvironmentServer.Web.ViewModels.EnvSetup
@model EnvSetupViewModel
@{
    ViewData["Title"] = "Exhibition Version - Environment Setup";
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in @Model.ExhibitionVersions)
        {
            <tr>
                <td>
                    <span>@v.Name</span>
                </td>
                <td>
                    <form method="post" asp-action="PhpVersion">
                            <input type="hidden" asp-for="Name" value=@Model.Name/>
                            <input type="hidden" asp-for="MajorShopwareVersion" value="6"/>
                            <input type="hidden" asp-for="ExhibitionFile" value=@v.File />
                            <button type="submit" class="btn btn-primary">Select</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>