@using EnvironmentServer.Web.ViewModels.EnvSetup
@model EnvSetupViewModel
@{
    ViewData["Title"] = "Major Version - Environment Setup";
}

<h2>Predefined Versions</h2>
<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <form method="post" asp-action="MinorVersion">
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="MajorShopwareVersion" value="5" />
            <a asp-controller="EnvSetup" asp-action="MinorVersion" class="text-decoration-none text-body" onclick="this.closest('form').submit();return false;">
                <div class="card">
                    <img src="~/img/sw5-signet.svg" class="card-img-top" style="padding: 20px; width: 300px; height: 300px;" />
                </div>
            </a>
        </form>
    </div>
    <div class="col-3">
        <form method="post" asp-action="MinorVersion">
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="MajorShopwareVersion" value="6" />
            <a asp-controller="EnvSetup" asp-action="MinorVersion" class="text-decoration-none text-body" onclick="this.closest('form').submit();return false;">
                <div class="card">
                    <img src="~/img/sw6-signet.svg" class="card-img-top" style="padding: 20px; width: 300px; height: 300px;" />
                </div>
            </a>
        </form>
    </div>
</div>

<h2>Other</h2>
<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <form method="post" asp-action="MinorVersion">
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="MajorShopwareVersion" value="6" />
            <input type="hidden" asp-for="CustomSetupType" value="exhibition" />
            <a asp-controller="EnvSetup" asp-action="MinorVersion" class="text-decoration-none text-body" onclick="this.closest('form').submit();return false;">
                <div class="card">
                    <i class="bi bi-briefcase align-self-center" style="font-size: 200px"></i>
                    <div class="card-body"><p class="card-text">Exhibition Showcase</p></div>
                </div>
            </a>
        </form>
    </div>
    <div class="col-3">
        <form method="post" asp-action="MinorVersion">
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="CustomSetupType" value="empty" />
            <a asp-controller="EnvSetup" asp-action="MinorVersion" class="text-decoration-none text-body" onclick="this.closest('form').submit();return false;">
                <div class="card">
                     <i class="bi bi-folder2-open align-self-center" style="font-size: 200px"></i>
                    <div class="card-body"><p class="card-text">Empty Webspace</p></div>
                </div>
            </a>
        </form>
    </div>
</div>

<h2>Expert Mode</h2>
<div class="row">
    <div class="col-3"></div>
    <div class="col-3">
        <form method="post" asp-action="MinorVersion">
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="CustomSetupType" value="wget" />
            <a asp-controller="EnvSetup" asp-action="MinorVersion" class="text-decoration-none text-body" onclick="this.closest('form').submit();return false;">
                <div class="card">
                    <i class="bi bi-cloud-download align-self-center" style="font-size: 200px"></i>
                    <div class="card-body"><p class="card-text">Download & Extract</p></div>
                </div>
            </a>
        </form>
    </div>
    <div class="col-3">
        <form method="post" asp-action="MinorVersion">
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="CustomSetupType" value="git" />
            <a asp-controller="EnvSetup" asp-action="MinorVersion" class="text-decoration-none text-body" onclick="this.closest('form').submit();return false;">
                <div class="card">
                     <i class="bi bi-github align-self-center" style="font-size: 200px"></i>
                    <div class="card-body"><p class="card-text">Clone Git Repository</p></div>
                </div>
            </a>
        </form>
    </div>
</div>

