@using EnvironmentServer.Web.ViewModels.EnvSetup
@model EnvSetupViewModel
@{
    ViewData["Title"] = "Php Version - Environment Setup";
}
<h2>Php Version</h2>
@{
    foreach (var v in @Model.PhpVersions)
    {
        <div class="card hovercard">
            <div class="card-header container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        Version: @v @(@v.ToString() != "Php74" ? "" : "- Recommended for Shopware 5 & 6")@(@v.ToString() != "Php56" ? "" : "- Shopware 5 only!")
                    </div>
                    <div class="col-md-2 float-right">
                        <form method="post" asp-action="Finalize">
                            <input type="hidden" asp-for="InternalName" />
                            <input type="hidden" asp-for="DisplayName" />
                            <input type="hidden" asp-for="WgetURL" />
                            <input type="hidden" asp-for="GitURL" />
                            <input type="hidden" asp-for="MajorShopwareVersion" />
                            <input type="hidden" asp-for="ShopwareVersion" />
                            <input type="hidden" asp-for="ShopwareVersionDownload" />
                            <input type="hidden" asp-for="ExhibitionFile" />
                            <input type="hidden" asp-for="TemplateID" />
                            <input type="hidden" asp-for="WebRoutePath" />
                            <input type="hidden" asp-for="CustomSetupType" />
                            <input type="hidden" asp-for="PhpVersion" value=@v />
                            <button type="submit" class="btn btn-primary">Select</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}     