.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #333333;
}

.footer-fix {
    margin-bottom: 65px;
    overflow-y: auto;
}

.fullHeight {
    height: 100%;
}

.pageHeight {
    height: calc(100% - 60px);
}

.hovercard:not(.disabled) {
    transition: 50ms linear;
}

.hovercard:hover:not(.disabled) {
    background-color: #333333;
    transform: scale(1.025);
}

.accordion-button::after {
    display: none !important;
}

.no-scrollbars {
    scrollbar-width: none;
}

.no-scrollbars::-webkit-scrollbar {
    width: 0 !important;
}