.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.fullHeight {
    height: 100%;
}

.pageHeight {
    height: calc(100% - 60px);
}

.card:not(.disabled) {
    transition: 50ms linear;
}

.card:hover:not(.disabled) {
    background-color: #333333;
    transform: scale(1.025);
}