.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #333333;
}

.footer-fix {
    padding-bottom: 65px;
}

.fullHeight {
    height: 100%;
    padding: 5px;
}

.pageHeight {
    height: calc(100% - 60px);
}

.hovercard:not(.disabled) {
    transition: 50ms linear;
}

.hovercard:hover:not(.disabled) {
    background-color: #333333;
    transform: scale(1.025);
    z-index: 1000;
}

.accordion-button::after {
    display: none !important;
}

.no-scrollbars {
    scrollbar-width: none;
}

.no-scrollbars::-webkit-scrollbar {
    width: 0 !important;
}

.dropdown-toggle-hide::after {
    display: none;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0;
}

.dm-sm-inline-flex {
    display: contents;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-toggler {
    display: block;
}}

.navbar-text {
    padding-right: 2rem;
}

@media (min-width: 392px) {
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
}}