@model EnvironmentServer.Web.ViewModels.Env.CreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex align-items-center justify-content-center fullHeight">
    <form method="post" asp-action="Create" style="width: 400px;">
        <div class="mb-3">
            <label asp-for="EnvironmentName" class="form-label">Environment Name</label>
            <input asp-for="EnvironmentName" class="form-control" />
            <span asp-validation-for="EnvironmentName"></span>
            <span>No special characters and spaces allowed</span>
        </div>
        <div class="mb-3">
            <label asp-for="SWVersion" class="form-label">Custom Version (example: 6.10.4.1)</label>
            <input asp-for="SWVersion" class="form-control" />
            <span asp-validation-for="SWVersion"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Existing Shopware Version</label>
            <select asp-for="PreSelectedSWVersion" asp-items="Model.SWVersions" class="form-select"></select>
            <span asp-validation-for="PreSelectedSWVersion" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">PHP Version</label>
            <select asp-for="Version" asp-items="Model.PhpVersions" class="form-select"></select>
            <span asp-validation-for="Version" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="File" class="form-label">Direct SW.zip</label>
            <input asp-for="File" class="form-control" />
            <span asp-validation-for="File"></span>
            <p>Looks like: https://www.shopware.com/de/Download/redirect/version/sw6/file/install_v6.4.5.1_092cb2a2d16ae64c08a52ecafcb698c6998152b7.zip </p>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>