@{
    ViewData["Section"] = "Item";
    ViewData["Title"] = "Delete - " + @Model.Definition.Name;
}

<h2>Are you sure you want to delete this environment?</h2>
<p>
    <a asp-action="Index">Back to Home</a>
</p>

<form method="post" asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="ID" />
    <button type="submit" class="btn btn-primary">Delete</button>
</form>