@model EnvironmentServer.Web.ViewModels.Env.UpdateViewModel

@{
    ViewData["Title"] = "Update";
}

<div class="d-flex align-items-center justify-content-center fullHeight" style="flex-direction: column; margin-top: 20px;">
    <span>Name</span>
    <form method="post" asp-controller="Env" asp-action="Rename" >
        <input type="hidden" asp-for="ID" />
        <input asp-for="DisplayName" value=@Model.DisplayName class="form-control" />
        <br />
        <button type="submit" class="btn btn-primary">Change Name</button>
    </form>
    <br />
    <span>Shopware Config</span>
    <a asp-controller="Env" asp-action="ConfigFile" asp-route-id=@Model.ID class="btn btn-primary">Edit Shopware Config/Env File</a>
    <br />
    <span>Backup Environment</span>
    <a asp-controller="Env" asp-action="BackupEnvironment" asp-route-id=@Model.ID class="btn btn-primary">Backup Environment</a>
    <br />
    <h2>Php Settings</h2>
    <form method="post" asp-controller="Env" asp-action="Update" asp- style="width: 400px;">
        <input type="hidden" asp-for="ID" />
        <div class="mb-3">
            <label class="form-label">Environment Name @Model.EnvironmentName</label>
        </div>
        <div class="mb-3">
            <label class="form-label">PHP Version</label>
            <select asp-for="Version" asp-items="Model.PhpVersions" class="form-select"></select>
            <span asp-validation-for="Version" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update PHP</button>
    </form>
</div>